/*BEGIN XBOX Controller Styling*/

.controller.custom{
    background: url("Pink-Base.png");
    height: 800px;
    width: 900px;
    background-position: 0px 0px, 00px 0px;
    background-repeat: no-repeat, no-repeat; -webkit-animation: Callback 600s infinite;
    -webkit-animation-delay: 0s;
    -webkit-animation-fill-mode: forwards ;
}
.custom.disconnected { 
    background: url('SBase.png'), url('Pink-Base.png');
    filter: hue-rotate(10deg) contrast(40%) saturate(80%);
    background-repeat:no-repeat;
}

.custom.disconnected div {
    display: none;
}
 .custom .triggers{ 
    width: 127px;
    height: 93px;
    top: 0px;
    left:10px;
    position: absolute;
    background-repeat:no-repeat;
} 
.custom .trigger{
    height: 142px;
    width: 900px;
    background-repeat:no-repeat;
}
.custom .trigger.left{ 
    background: url('ToggleBackgroundColor-L.png');
    left: -10px;
    position: absolute;
    background-repeat:no-repeat;
}
.custom .trigger.right{
    background: url('ToggleBackgroundColor-R.png');
    left: -10px;
    position: absolute;
    background-repeat:no-repeat;
}
.custom .bumper{
    height: 800px;
    width: 900px;
    background-repeat:no-repeat;
    position: absolute;
    opacity: 0;
}
.custom .bumper.pressed{ 
    opacity: 1;
}
.custom .bumper.right{
    background: url('ToggleBackgroundColor-R.png');
}
.custom .bumper.left{
    background: url('ToggleBackgroundColor-L.png');
}
.custom .arrows{
    position: absolute;
    width: 205px;
    height: 19px;
    top: 250px;
    left: 291px;
    background-repeat:no-repeat;
}
.custom .quadrant{
position: absolute;
background: url(https://bit.ly/2HTk8ny);
height: 17px;
width: 111px;
top: 140px;
left: 240px;
}
.custom .p0{
background-position: 0 -6px;
}
.custom .p1{
background-position: 0 -28px;
}
.custom .p2{
background-position: 0 -49px;
}
.custom .p3{
background-position: 0 -70px;
}
.custom .back{
    height: 800px;
    width: 900px;
    background-repeat:no-repeat; 
}
.custom .start{
    height: 800px;
    width: 900px; 
    opacity: 1;   
    background-repeat:no-repeat;
}
.custom .back.pressed{
    background: url('Back-Pressed.png');
    height: 800px;
    width: 900px; 
    opacity: 1;
    background-repeat:no-repeat; 
}
.custom .start.pressed{
    background: url('Start-Pressed.png');
    height: 800px;
    width: 900px;    
    background-repeat:no-repeat;
}
.custom .back{ /* share */
    position: absolute;
    top: -249px;
    left: -290px;
    opacity: 0;
}
.custom .start{ /* options */
    position: absolute;
    top: -249px;
    left: -290px;
}
/* Positioning and size of the container for the face buttons */
.custom .abxy{
    position: absolute;
    height: 800px;
    width: 900px;
    background-repeat:no-repeat;
}
/* base class used to simplify the sprite mapping */
.custom .button{
    opacity: 1;
    position: absolute;
    height: 800px;
    width: 900px;
}

.custom .a{ 
    background: url('Pink-A.png');
    background-repeat:no-repeat;
}
.custom .b{ 
    background: url('Pink-B.png');
    background-repeat:no-repeat;
}
.custom .x{ 
    background: url('Pink-X.png');
    background-repeat:no-repeat;
}
.custom .y{ 
    background: url('Pink-Y.png');
    background-repeat:no-repeat;
}
.custom .a.pressed{ 
   background: url('Pink-A-P.png');
   background-repeat:no-repeat;
}
.custom .b.pressed{ 
    background: url('Pink-B-P.png');
    background-repeat:no-repeat;
}
.custom .x.pressed{ 
    background: url('Pink-X-P.png');
    background-repeat:no-repeat;
}
.custom .y.pressed{ 
    background: url('Pink-Y-P.png');
    background-repeat:no-repeat;
}
.custom .sticks{
    position: absolute;
    width: 310px;
    height: 100px;
    top: 424px;
    left: 309px;
    background-repeat:no-repeat;
}
.custom .stick{
    position: absolute;
    background: url('Pink-Stick.png');
    height:100px;
    width: 100px;
    background-repeat:no-repeat;
}
.custom .stick.pressed.left{
    filter: invert(1);
}
.custom .stick.pressed.right{
    filter: invert(1);
}
.custom .stick.left{
    top: -140px;
    left: -139px;
}
.custom .stick.right{
    top: calc(100% - 105px);
    left: calc(100% - 100px);
}
/* Dpad possitioning and sizing */
.custom .dpad{
    position: absolute;
    height: 800px;
    width: 900px;
}
.custom .face{
    position: absolute;
    opacity: 0;
}
.custom .face.up.pressed{
    background: url('up.png');
    height: 800px;
    width: 900px;
    opacity: 1;
    background-repeat:no-repeat;
}
.custom .face.down.pressed{
    background: url('down.png');
    height: 800px;
    width: 900px;
    opacity: 1;
    background-repeat:no-repeat;
}
.custom .face.left.pressed{
    background: url('left.png');
    height: 800px;
    width: 900px;
    opacity: 1;
    background-repeat:no-repeat;
}
.custom .face.right.pressed{
    background: url('right.png');
    height: 800px;
    width: 900px;
    opacity: 1;
    background-repeat:no-repeat;
}
@keyframes Callback {
    0% {
        background-position: 146px -800px, 0px 0px;
    }

    .5% {
        background-position: 146px -800px, 0px 0px;
    }

    1% {
        background-position: 146px -380px, 0px 0px;
    }

    1.2% {
        background-position: 146px -380px, 0px 0px;
    }

    1.7% {
        background-position: 146px -800px, 0px 0px;
    }

    100% {
        background-position: 146px -800px, 0px 0px;
    }
}

/*END XBOX Controller Styling*/